$cfff:#fff;
$borderColor:#e7e7e7;
$tabBorderColor:#dddddd;
$koreaColor:#f85b90;
$c333:#333333;
$c444:#444444;
$c999:#999;
$c666:#666;
$cfe:#ff5e00;
$c00:#c00;
$ccc:#ccc;
$f00:#f00;
$yahei:'microsoft yahei';
$white:#ffffff;
$black:#000000;
$lightGreen:#2BE238;
$bg:#efefef;
$orange:#ff5e00;
$lightBlue:#3199e8;
$grey:#cccccc;
$pink:#f85b90;
$deepPink:#ed145b;
$ddd:#dddddd;
$f3:#f3f3f3;
$cd:#cdcdcd;
$cc:#cccccc;
$ee:#eeeeee;
$red:#ff2d55;
$backgroundColor:#f5f5f5;
