{
  "plugins": [
    "transform-object-assign",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false 
        }
      }
    ]
  ]
}


