
.qy-listview .center_tip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}
.qy-listview .qy-listview-block_index_list {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.qy-listview .qy-listview-block_index_list li {
    padding: .4rem 1rem;
}
.qy-listview .center_tip {
  display: none;
  position: fixed;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.qy-list_block header {
  display: block;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1.6rem;
  background: #f5f5f5;
  font-size: 1.6rem;
  color: #666;
}
